{
    "swagger": "2.0",
"securityDefinitions": {
    "Bearer": {
       "name": "Authorization",
        "in": "header",
        "type": "apiKey"
    }
},
    "info": {
      "version": "1.0.0",
      "title": "Mobiliza Chubb Mobile App",
      "description": "Backend for mobile application"
    },
    "host": "1234-c2c3b0ad-7b8f-4c94-9a4d-4c6211066e93.ws-us02.gitpod.io",
    "basePath": "/",
    "tags": [
      {
        "name": "Email",
        "description": "Api for send emails in mobile application"
      }
    ],
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/x-www-form-urlencoded"
    ],
    "produces": [
      "application/x-www-form-urlencoded"
    ],
    "paths": {
      "/mailjet":{
           "get": {
            "security": [
            {
                "Bearer": []
            }
            ],
          "tags": [
            "mailjet"
          ],
          "description": "Send Email in Chubb Mobile Apps",
          "produces": [
            "application/x-www-form-urlencoded"
          ],
          "responses": {
            "200": {
              "description": "Email has been send"
            }
          }
        },
       "post": {
            "security": [
            {
                "Bearer": []
            }
            ],
          "tags": [
            "mailjet"
          ],
          "description": "Send Email in Chubb Mobile Apps",
          "parameters": [
            {
              "name": "email",
              "in": "body",
              "description": "email for send",
              "schema": {
                "$ref": "#/definitions/Email"
              }
            }
          ],
          "produces": [
            "application/x-www-form-urlencoded"
          ],
          "responses": {
            "200": {
              "description": "Email has been send",
              "schema": {
                "$ref": "#/definitions/Email"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "Email": {
        "required": [
          "from",
          "to",
          "content",
          "attach"
        ],
        "properties": {
          "from": {
            "type": "string"
          },
           "to": {
            "type": "string"
          },
           "content": {
            "type": "string"
          },
          "attach": {
            "type": "string"
          }
      
        }
      }
    }
  }
  